/* ==========================================================================
   BEGIN IMPRESS.JS STYLES
   ========================================================================== */
body {
  font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  text-shadow: -1px -1px 2px rgba(0, 0, 0,0.5);
  color: #97c5e1;
  background: #002570;
  background: -webkit-radial-gradient(center bottom, circle farthest-corner, #667bb3, rgb(0, 67, 148), rgb(0, 0, 0));
  background:    -moz-radial-gradient(center bottom, circle farthest-corner, #667bb3, rgb(0, 67, 148), rgb(0, 0, 0));
  background:      -o-radial-gradient(center bottom, circle farthest-corner, #667bb3, rgb(0, 67, 148), rgb(0, 0, 0));
  background:         radial-gradient(center bottom, circle farthest-corner, #667bb3, rgb(0, 67, 148), rgb(0, 0, 0));
}

a {
  color: rgba(231, 237, 75, 0.9);
  text-shadow: 0 0 2px rgba(255, 255, 255,0.5), 1px 1px 1px rgba(10,10,10,0.6);
  opacity: 0.9;
}
a:hover,
a:focus {
  color: white;
  background: rgba(255,255,255,0.2);
}

h1, h2 { font-family: 'Expletus Sans', 'Helvetica Neue', Arial, sans-serif; }
h2 { margin: 0.2em 0; }
h3 { font-size: 42px; margin: 0.2em 0; color: #ddd; font-weight: normal; }

p { font-size: 0.9em; margin: 0.5em 0; }
b, strong { color: #ddd; }

/* ==========================================================================
   STEP STYLES
   ========================================================================== */
.step { width: 820px; }

/* ==========================================================================
   STEP SPECIFIC STYLES
   ========================================================================== */
#title { font-size: 1.3em; }
#tight-augmentation { font-size: .9em; }

#title              h1,
#hoisting-example   h3,
#object-literal     h2,
#creating-module    h2,
#module-export      h2,
#loose-augmentation h2,
#tight-augmentation h2,
#revealing-module-2 h2 { margin: 0; }

#cat-wtf   img,
#questions img { display: flex; margin: 0 auto; }

#demerits      .wrap { width: 730px; }
#global-import .wrap { width: 712px; }

#module-export.active,      #module-export.past,
#loose-augmentation.active, #loose-augmentation.past,
#revealing-module-1.active, #revealing-module-1.past,
#revealing-module-2.active, #revealing-module-2.past { width: 882px; }

#thank-you ul { margin-left: 2em; color: white; }
#thank-you .wrap { width: 580px; }

/* ==========================================================================
   IMPRESS NOT SUPPORTED STYLES
   ========================================================================== */
.fallback-message {
  width: 780px;
}

.impress-not-supported {
  background: #002570;
}

.impress-not-supported .step {
  background: #0F3584;
}

.impress-not-supported .step > *,
.fallback-wrapper {
  width: 820px;
}
