/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:after, q:after {
  content: '';
  content: none;
}
blockquote:before, q:before {
  display: block;
  height: 0;
  content: '“';
  margin-left: -1.1em;
  font: italic 360%/1 Cochin,Georgia,"Times New Roman", serif;
  color: #999;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LAYOUT STYLES
================================================== */
body {
  font-size: 15px;
  line-height: 1.5;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
header h1 {
  font: inherit;
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 540px;
}
header h2 {
  float: left;
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

strong > em > span {
  font-family: monospace;
  font-size: .9em;
  font-weight: normal;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
#content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
}
#main-content {
  width: 690px;
  float: left;
}
#main-content img {
  max-width: 100%;
}
aside#sidebar {
  width: 200px;
  padding-left: 20px;
  min-height: 504px;
  float: right;
  background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
  font-size: 12px;
  line-height: 1.3;
}
aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}
#downloads {
  margin-bottom: 40px;
}
a.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
header a.button:hover, .wrapper-language:hover {
  border-radius: 8px;
  box-shadow: 0 0 14px 1px rgba(255,255,255,.8);
  color: #fff !important;
}
aside a.button {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}
code, pre {
  color: #222;
  margin-bottom: 20px;
  font-size: 13px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
code {
  padding: 0 3px 1px 3px;
  background-color: #e9f4fc;
  border: solid 1px #dbe7f3;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
pre {
  padding: 13px 10px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #ddd;
  border-radius: 3px;
}
pre code {
  color: #2879d0;
  background-color: #fff;
  border: none;
  padding: 0;
}
pre > span[title], pre > span[title]:active {
  cursor: help;
}
span.tip {
  cursor: help;
  color: #878787;
  font-weight: bold;
  text-shadow: 0px 1px 1px white,
               1px 1px 2px rgba(0,0,0,0.2);
}
a, a > code {
  color: #2879d0;
}
a:hover, a:hover > code {
  color: #ff6633;
}
ul, ol, dl {
  margin-bottom: 20px;
}
hr {
  margin: 1em auto;
  border: none;
  border-top: 1px dashed #aaa;
  border-bottom: 1px solid #fff;
}
table {
  width: 100%;
  border: 1px solid #ebebeb;
}
th {
  font-weight: 500;
}
td {
  border: 1px solid #ebebeb;
  text-align: center;
  font-weight: 300;
}
form {
  background: #f2f2f2;
  padding: 20px;
}

/* GENERAL ELEMENTS OF SITE
================================================== */
#main-content code.next, #main-content pre.next {
  margin-bottom: 10px;
}
#main-content h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  font-weight: normal;
  letter-spacing: -1px;
  color: #474747;
}
#main-content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}
#main-content h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}
#main-content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.3em;
}
#main-content h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 8px;
  color: #474747;
}
#main-content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}
#main-content h2 > a,
#main-content h3 > a {
  color: #474747;
}
#main-content h3 > a:not(.cbox-close) {
  font-size: 1.2em;
}
#main-content h1 > a:not(.cbox-close):hover,
#main-content h2 > a:not(.cbox-close):hover,
#main-content h3 > a:not(.cbox-close):hover {
  color: #ff6633;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}
#main-content h2 > a.cbox-close,
#main-content h3 > a.cbox-close {
  padding: 3px 5px;
}
#main-content h4 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
}
h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}
#main-content h5 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: #474747;
}
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}
#main-content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: #474747;
}
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}
p {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
p a {
  font-weight: 400;
}
blockquote {
  border-left: 8px solid #e9e9e9;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 0 10px 0 20px;
  font-style: italic;
}
ul {
  list-style: disc inside;
  padding-left: 20px;
}
:root[lang=en] *:not(h2) + ul:before {
  content: "Parameters";
}
:root[lang=es] *:not(h2) + ul:before {
  content: "Parámetros";
}
ul > li > ul:before, .no-title:before {
  content: "" !important;
}
ul > li.tab {
  list-style-position: outside;
  margin-left: 15px;
}
aside > ul {
  padding-left: 10px;
}
ul > li > ul {
  list-style: circle inside;
}
ul > li > ul > li > ul {
  margin-bottom: 0;
  padding-left: 7px;
  list-style: square inside;
}
ul > li ul li {
  list-style-position: outside;
  margin-left: 15px;
}
ol {
  list-style: decimal inside;
  padding-left: 3px;
}
dl dd {
  font-style: italic;
  font-weight: 100;
}
footer {
  border: none;
  border-top: 1px dotted #aaa;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISCELLANEOUS
================================================== */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.highlight {background: transparent !important;}
.italic {font-style: italic; color: #666688;}
.image-profile {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 10px 0 0;
  background: url("https://es.gravatar.com/userimage/58767277/862efd5594ae4e75c158b9b3dcaa5b82.jpg?size=86") no-repeat -3px top;
  border: solid 1px #999;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.icon-link {margin-right: 10px; font-size: 80%;}
.icon-link > div {
  display: inline-block;
  width: 22px;
  height: 16px;
  background-color: transparent;
  background-image: url('http://dl.dropboxusercontent.com/u/91579606/favicons-sprite16.png');
  background-repeat: no-repeat;
}
.icon-link > div.stackcareers {background-position: 0px -3905px;}
.icon-link > div.stackoverflow {background-position: 0px -4194px;}
.cboxIframe {width:100%; height:100%; display:block; border:0;}
.cbox-close {
  display: inline-block;
  position: relative;
  float: right;
  padding: 2px 5px;
  margin-bottom: -22px;
  font: bold 12px arial,sans-serif;
  text-shadow: 0 1px 0 white;
  color: #666;
  border: 1px #ccc solid;
  border-bottom-color: #aaa;
  box-shadow: inset 0 0 1px #fff;
  border-radius: 2px;
  background-color: #e0e0e0;
  background-image: -o-linear-gradient(top,white 0,#e0e0e0 100%);
  background-image: -moz-linear-gradient(top,white 0,#e0e0e0 100%);
  background-image: -webkit-linear-gradient(top,white 0,#e0e0e0 100%);
  background-image: linear-gradient(to bottom,white 0,#e0e0e0 100%);
}
.cbox-close:hover {
  color: #555;
  cursor: pointer;
  border-color: #999;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
}
.wrapper-language {
  float: right;
  width: 120px;
  height: 28px;
  margin-top: 16px;
  overflow: hidden;
  border: solid 2px #fff;
  border-radius: 8px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACF0lEQVR42t2WTUhUURTHNS1NQWwjiFAwqFm6aaeG7myTLtRWk679ahG6dCUtdOUqFUOMypVuc1ukudAKxIWQ+JEVubOoxC/mvX4H/8JjuvN4ozsHfpyZ+879n3PPO+dqRsaF//i+XwjtMAqz8BpGIA4F5xG+DgPwCzw49Dzvt2HftbYL/VCSjnAm3EdoEZuAbZiEXngIbdAHL+C7fN5Dg+2NEsDEv2KPYQpuQZ7DLw+qYNp82bOFvRelLB/gCMbgaoSE8uG5EloILRcPB3VkO35uGmXN5wQz2tufyqkIpz/YDbh5hqaoZP83vfgCl0OHOmPcsodsqLeyhYiWwl3ICpTKNOL/ORP9JQ8O4JE2N7O2g30Dtx3idTxfgXW+12itV+9vxJXNO/X8A/2+A5vK6KOVICgOa/7J5xPEtB7XnMy6AswpQKujZTHeW2yZBbbMJb4K1QH/0ADW8/vQnbTeGDjJgkRPM69O8n2sKR9zBeiRyGhyi/K7VkH8gHiVY/AmpNHuClDM8f6qtmUhE76anLmeV8AXlflaqrYb1rBYq152BUkhbm39Stk/CRuWGFkuq44W7EqEActVWa09l8Lm5nRDC0F+6Hp+pmHKSSFcruE60hQ3Rhl5m8pWnSSB/Yx9Cl0WXHRbp2jIErogm+BSOndLTGXaU22thX+Kfc2G3V1DcOM8f9mK1cJTCM4beqGddkFe/H8a/gHaRlonOG1fNgAAAABJRU5ErkJggg==') transparent;
  background-repeat: no-repeat;
  background-position: 97% center;
}
#select-language {
  width: 138px;
  height: 100%;
  padding-left: 5px;
  line-height: 22px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  border: 0 none;
  outline: none;
}
#select-language option {
  color: #999;
  background: #fdfdfd;
}
#colorbox {
  z-index: 2999;
  box-sizing: border-box;
}
.category-wrapper {
  padding: 12px 18px;
  background: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.category-wrapper p {
  margin-bottom: 12px;
}
.category-wrapper h3 {
  margin: 5px 0;
}
.category-wrapper pre {
  margin-bottom: 6px;
  background-color: #f7f7f7;
}

/* HIGHLIGHTJS
================================================== */
pre.code-example { padding: 0; border-radius: 3px; }
pre.code-example > code { margin: 0; border-radius: 3px; }
.hljs { padding: 0.8em; /*background: #fff;*/ }
.hljs-keyword { font-weight: bold; }
.hljs-comment { font-style: italic; }
a > .hljs-comment { color: #2879d0; }
a:hover > .hljs-comment { color: #ff6633; }

/* LOADER ANIMATION
================================================== */
.loader {
  position: relative;
  background-color: #fff;
  opacity: 0.76; -moz-opacity: 0.76; -khtml-opacity: 0.76; filter: alpha(opacity=76);
  outline: solid 1px #ddd;
  box-sizing: border-box;
}
#circleG {
  width:38.5px;
  z-index:3000;
}
.circleG {
  background-color:#FFFFFF;
  float:left;
  height:8px;
  margin-left:4px;
  width:8px;
  -moz-animation-name:bounce_circleG;
  -moz-animation-duration:1.35s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-border-radius:5px;
  -webkit-animation-name:bounce_circleG;
  -webkit-animation-duration:1.35s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-border-radius:5px;
  -ms-animation-name:bounce_circleG;
  -ms-animation-duration:1.35s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-border-radius:5px;
  -o-animation-name:bounce_circleG;
  -o-animation-duration:1.35s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-border-radius:5px;
  animation-name:bounce_circleG;
  animation-duration:1.35s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  border-radius:5px;
}
#circleG_1{
  -moz-animation-delay:0.27s;
  -webkit-animation-delay:0.27s;
  -ms-animation-delay:0.27s;
  -o-animation-delay:0.27s;
  animation-delay:0.27s;
}
#circleG_2{
  -moz-animation-delay:0.63s;
  -webkit-animation-delay:0.63s;
  -ms-animation-delay:0.63s;
  -o-animation-delay:0.63s;
  animation-delay:0.63s;
}
#circleG_3{
  -moz-animation-delay:0.8099999999999999s;
  -webkit-animation-delay:0.8099999999999999s;
  -ms-animation-delay:0.8099999999999999s;
  -o-animation-delay:0.8099999999999999s;
  animation-delay:0.8099999999999999s;
}

@-moz-keyframes bounce_circleG{
  0%{}
  50%{background-color:#02869D;}
  100%{}
}
@-webkit-keyframes bounce_circleG{
  0%{}
  50%{background-color:#02869D;}
  100%{}
}
@-ms-keyframes bounce_circleG{
  0%{}
  50%{background-color:#02869D;}
  100%{}
}
@-o-keyframes bounce_circleG{
  0%{}
  50%{background-color:#02869D;}
  100%{}
}
@keyframes bounce_circleG{
  0%{}
  50%{background-color:#02869D;}
  100%{}
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
  .wrapper-language {
    margin-top: 26px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    float: none;
    font-size: 24px;
  }
  header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  header a.button:hover {
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(255,255,255,.7);
  }
  header a.button small {
    font-size: 13px;
    display: inline;
  }
  pre, code {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% !important;
  }
  aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
  .wrapper-language {
    background-size: 18px 18px;
    margin-top: 15px;
    height: 20px;
  }
  #select-language {
    margin-top: -2px;
    line-height: 20px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
