/* ==========================================================================
   BEGIN IMPRESS.JS STYLES
   ========================================================================== */
body {
  background: rgb(215, 215, 215);
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

a {
  color: #d25349;
  font-size: .9em;
  background: rgba(255,255,255,0.3);
  text-shadow: 1px 0 0px rgba(255,255,255,.6), -1px 0 1px rgba(100,100,100,0.5);
}

h1, h2, h3 { color: #222; }
h4 { color: #4e4e4e; }

/* ==========================================================================
   STEP STYLES
   ========================================================================== */
.step { font-family: 'PT Serif', georgia, serif; }
.wrap { padding-left: 0.4em; }

/* ==========================================================================
   STEP SPECIFIC STYLES
   ========================================================================== */
#title { font-size: 1.48em; }
#title h1 { margin: 0; }
#title span { padding-left: .5em; }
pre + .counter { color: white; }

#splash     img,
#chuza      img,
#solution-1 img,
#solution-3 img { display: flex; margin: 0 auto; }

#solution-1       .wrap { width: 740px; }
#thank-you        .wrap { width: 460px; }
div[id^="dry-eg"] .wrap { margin-top: -14px; }
div[id^="dry-eg"] .wrap p { margin-bottom: 20px; }
div[id^="dry-eg"].active, div[id^="dry-eg"].past,
#code-eg1.active,   #code-eg1.past,
#solution-4.active, #solution-4.past { width: 900px; }
#solution-2.active, #solution-2.past { width: 995px; }

#solution-1 p { margin: 15px 0; }
#coupling h3 + p { margin-bottom: 30px; }
#coupling p > em { font-size: .9em; }

#thank-you li:first-child { margin-bottom: .6em; list-style: none; padding-left: 0.1em; font-size: 1.4em; font-weight: bold; text-shadow: -1px 0 rgba(0,0,0,.4), 1px 1px 3px rgba(0,0,0,.6); }
#thank-you ul { margin: 0; color: white; text-shadow: 1px 1px 3px rgba(0,0,0,.4); }

/* ==========================================================================
   IMPRESS NOT SUPPORTED STYLES
   ========================================================================== */
.fallback-message {
  width: 840px;
}

.impress-not-supported .step {
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

.impress-not-supported .step > *,
.fallback-wrapper {
  width: 880px;
}
